<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div>
            <v-navigation-drawer v-model="drawer" app clipped>
              <v-list dense rounded>
                <v-list-item two-line class="pt-2">
                  <v-list-item-avatar size="50">
                    <img src="https://obs.line-scdn.net/0hrkPrzXIkLURtCwPA439SE1ddLiteZz5HCT18RzFlc3BJb2gbU25gKk4KISYTP2oaAzlnIU4INnVHOz1CAW1g/w644">
                    </v-list-item-avatar>
          
                    <v-list-item-content>
                      <h5>นางสาวส้ม สีส้ม</h5>
                        <h6 color="grey">somsom@gmail.com</h6>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-list-item-group v-model="item" color="purple darken-2"> 
                      <v-list-item v-for="(item, i) in items" :key="i" @click=>
                          <v-list-item-content>
                              <v-list-item-title class="">{{ item.text }}</v-list-item-title>
                          </v-list-item-content>
                      </v-list-item>
                  </v-list-item-group>
  
              </v-navigation-drawer>
                <v-app-bar app clipped-left>
                  <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                    <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                  </v-toolbar-title>
                  <v-text-field dense outlined hide-details prepend-inner-icon="mdi-magnify" label="ค้นหา" class="hidden-sm-and-down" >
  
                  </v-text-field>
                  <v-spacer></v-spacer>
                  <v-select dense outlined hide-details label="ประเภทการขาย" class="hidden-sm-and-down" >
              </v-app-bar>
          
          </div>
          
        <div>
            <v-layout row wrap>
                <v-flex  >
                  <div class="pa-5">
                    <v-flex  class="mx-auto" max-width="90%" >
                        <div class="pa-8">
                            <v-card>
                                <div class="pa-5">
                                    <center>
                                        <h2> จัดการประกาศ </h2><br>
                                    </center>
                                    </div>
                                <v-tabs background-color="white" color="purple darken-1" left>
                                  <v-tab>ประกาศขาย</v-tab>
                                  <v-tab>ประกาศซื้อ</v-tab>
                            
                                  <v-tab-item class="pa-6">
                                    <v-row>
                                        <v-col cols="12" sm="6" >
                                          <v-hover v-slot:default="{ hover }" open-delay="200" >
                                            <v-card :elevation="hover ? 16 : 2" class="mx-auto " height="350" max-width="350">
                                              <v-card-text class="font-weight-medium mt-12 text-center">
                                                <h3>ประกาศการขาย</h3>
                                              </v-card-text>
                                              <center>
                                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                                              </center>
                                            </v-card>
                                          </v-hover>
                                        </v-col>
                                    
                                        <v-col cols="12" sm="6">
                                          <v-hover v-slot:default="{ hover }" close-delay="200">
                                            <v-card :elevation="hover ? 16 : 2" class="mx-auto" height="350" max-width="350">
                                              <v-card-text class="font-weight-medium mt-12 text-center subtitle-1">
                                                <h3>ปิดการขาย</h3>
                                              </v-card-text>
                                              <center>
                                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                                              </center>
                                            </v-card>
                                          </v-hover>
                                        </v-col>

                                        <v-col cols="12" sm="6">
                                          <v-hover v-slot:default="{ hover }" close-delay="200">
                                            <v-card :elevation="hover ? 16 : 2" class="mx-auto" height="350" max-width="350">
                                              <v-card-text class="font-weight-medium mt-12 text-center subtitle-1">
                                                <h3>รีโพสการซื้อขาย</h3>
                                              </v-card-text>
                                              <center>
                                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                                              </center>
                                            </v-card>
                                          </v-hover>
                                        </v-col>
                                      </v-row>
                                  </v-tab-item>

                                  <v-tab-item class="pa-6">
                                    <v-row>
                                        <v-col cols="12" sm="6" >
                                          <v-hover v-slot:default="{ hover }" open-delay="200" >
                                            <v-card :elevation="hover ? 16 : 2" class="mx-auto" height="350" max-width="350">
                                              <v-card-text class="font-weight-medium mt-12 text-center subtitle-1">
                                                <h3>ประกาศการซื้อ</h3>
                                              </v-card-text>
                                              <center>
                                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                                              </center>
                                            </v-card>
                                          </v-hover>
                                        </v-col>
                                    
                                        <v-col cols="12" sm="6">
                                          <v-hover v-slot:default="{ hover }" close-delay="200">
                                            <v-card :elevation="hover ? 16 : 2" class="mx-auto" height="350" max-width="350">
                                              <v-card-text class="font-weight-medium mt-12 text-center subtitle-1">
                                                <h3>ปิดการซื้อ</h3>
                                              </v-card-text>
                                              <center>
                                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                                              </center>
                                            </v-card>
                                          </v-hover>
                                        </v-col>

                                        <v-col cols="12" sm="6">
                                          <v-hover v-slot:default="{ hover }" close-delay="200">
                                            <v-card :elevation="hover ? 16 : 2" class="mx-auto" height="350" max-width="350">
                                              <v-card-text class="font-weight-medium mt-12 text-center subtitle-1">
                                                <h3>รีโพสการซื้อซื้อ</h3>
                                              </v-card-text>
                                              <center>
                                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                                              </center>
                                            </v-card>
                                          </v-hover>
                                        </v-col>
                                      </v-row>
                                  </v-tab-item>
                              </v-card>
                        </v-tabs>
                    </div>
                    </v-flex >
                    </div>
                </v-flex >
            </v-layout>
                        
        </div>

        <div>
          <v-layout row wrap>
              <v-flex  >
                <div class="pa-5">
                  <v-flex  class="mx-auto" max-width="90%" >
                      <div class="pa-8">
                          <v-card>
                              <div class="pa-5">
                                  <center>
                                      <h2> ประกาศทั้งหมด </h2><br>
                                  </center>
                                  </div>
                              <v-tabs background-color="white" color="purple darken-1" left>
                                <v-tab>ประกาศขาย</v-tab>
                                <v-tab>ประกาศซื้อ</v-tab>

                                
                                <v-tab-item class="pa-6">
                                  <v-flex xs12 md4></v-flex>
                                    <div class="pt-5">
                                      <v-hover v-slot:default="{ hover }" open-delay="200">
                                        <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                          <v-row justify="around ">
                                            <v-flex xs6 >
                                            <v-col cols="8">
                                              <v-card-text >
                                                <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                                <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                              </v-card-text>  
                                            </v-col>
                                          </v-flex>
                                          <v-flex xs6 >
                                            <div class="text-lg-right pa-7" flat>
                                              <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                            </div>
                                            </v-flex>
                                            
                                        </v-row>
                                        </v-card>
                                    </v-hover>
                                  </div>
                                </v-flex>

                                <v-flex xs12 md4></v-flex>
                                    <div class="pt-5">
                                      <v-hover v-slot:default="{ hover }" open-delay="200">
                                        <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                          <v-row justify="around ">
                                            <v-flex xs6 >
                                            <v-col cols="8">
                                              <v-card-text >
                                                <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                                <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                              </v-card-text>  
                                            </v-col>
                                          </v-flex>
                                          <v-flex xs6 >
                                            <div class="text-lg-right pa-7" flat>
                                              <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                            </div>
                                            </v-flex>
                                            
                                        </v-row>
                                        </v-card>
                                    </v-hover>
                                  </div>
                                </v-flex>


                                <v-flex xs12 md4></v-flex>
                                <div class="pt-5">
                                  <v-hover v-slot:default="{ hover }" open-delay="200">
                                    <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                      <v-row justify="around ">
                                        <v-flex xs6 >
                                        <v-col cols="8">
                                          <v-card-text >
                                            <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                            <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                          </v-card-text>  
                                        </v-col>
                                      </v-flex>
                                      <v-flex xs6 >
                                        <div class="text-lg-right pa-7" flat>
                                          <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                        </div>
                                        </v-flex>
                                        
                                    </v-row>
                                    </v-card>
                                </v-hover>
                              </div>
                            </v-flex>


                            <v-flex xs12 md4></v-flex>
                            <div class="pt-5">
                              <v-hover v-slot:default="{ hover }" open-delay="200">
                                <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                  <v-row justify="around ">
                                    <v-flex xs6 >
                                    <v-col cols="8">
                                      <v-card-text >
                                        <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                        <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                      </v-card-text>  
                                    </v-col>
                                  </v-flex>
                                  <v-flex xs6 >
                                    <div class="text-lg-right pa-7" flat>
                                      <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                    </div>
                                    </v-flex>
                                    
                                </v-row>
                                </v-card>
                            </v-hover>
                          </div>
                        </v-flex>

                        <v-flex xs12 md4></v-flex>
                        <div class="pt-5">
                          <v-hover v-slot:default="{ hover }" open-delay="200">
                            <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                              <v-row justify="around ">
                                <v-flex xs6 >
                                <v-col cols="8">
                                  <v-card-text >
                                    <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                    <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                  </v-card-text>  
                                </v-col>
                              </v-flex>
                              <v-flex xs6 >
                                <div class="text-lg-right pa-7" flat>
                                  <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                </div>
                                </v-flex>
                                
                            </v-row>
                            </v-card>
                        </v-hover>
                      </div>
                    </v-flex>

                        <div class="text-center pa-4">
                          <v-pagination v-model="page" :length="4" prev-icon="mdi-menu-left" next-icon="mdi-menu-right" ></v-pagination>
                        </div>

                    </v-tab-item>

                    <v-tab-item class="pa-6">
                                  <v-flex xs12 md4></v-flex>
                                    <div class="pt-5">
                                      <v-hover v-slot:default="{ hover }" open-delay="200">
                                        <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                          <v-row justify="around ">
                                            <v-flex xs6 >
                                            <v-col cols="8">
                                              <v-card-text >
                                                <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                                <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                              </v-card-text>  
                                            </v-col>
                                          </v-flex>
                                          <v-flex xs6 >
                                            <div class="text-lg-right pa-7" flat>
                                              <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                            </div>
                                            </v-flex>
                                            
                                        </v-row>
                                        </v-card>
                                    </v-hover>
                                  </div>
                                </v-flex>

                                <v-flex xs12 md4></v-flex>
                                    <div class="pt-5">
                                      <v-hover v-slot:default="{ hover }" open-delay="200">
                                        <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                          <v-row justify="around ">
                                            <v-flex xs6 >
                                            <v-col cols="8">
                                              <v-card-text >
                                                <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                                <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                              </v-card-text>  
                                            </v-col>
                                          </v-flex>
                                          <v-flex xs6 >
                                            <div class="text-lg-right pa-7" flat>
                                              <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                            </div>
                                            </v-flex>
                                            
                                        </v-row>
                                        </v-card>
                                    </v-hover>
                                  </div>
                                </v-flex>


                                <v-flex xs12 md4></v-flex>
                                <div class="pt-5">
                                  <v-hover v-slot:default="{ hover }" open-delay="200">
                                    <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                      <v-row justify="around ">
                                        <v-flex xs6 >
                                        <v-col cols="8">
                                          <v-card-text >
                                            <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                            <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                          </v-card-text>  
                                        </v-col>
                                      </v-flex>
                                      <v-flex xs6 >
                                        <div class="text-lg-right pa-7" flat>
                                          <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                        </div>
                                        </v-flex>
                                        
                                    </v-row>
                                    </v-card>
                                </v-hover>
                              </div>
                            </v-flex>


                            <v-flex xs12 md4></v-flex>
                            <div class="pt-5">
                              <v-hover v-slot:default="{ hover }" open-delay="200">
                                <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                  <v-row justify="around ">
                                    <v-flex xs6 >
                                    <v-col cols="8">
                                      <v-card-text >
                                        <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                        <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                      </v-card-text>  
                                    </v-col>
                                  </v-flex>
                                  <v-flex xs6 >
                                    <div class="text-lg-right pa-7" flat>
                                      <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                    </div>
                                    </v-flex>
                                    
                                </v-row>
                                </v-card>
                            </v-hover>
                          </div>
                        </v-flex>

                        <v-flex xs12 md4></v-flex>
                        <div class="pt-5">
                          <v-hover v-slot:default="{ hover }" open-delay="200">
                            <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                              <v-row justify="around ">
                                <v-flex xs6 >
                                <v-col cols="8">
                                  <v-card-text >
                                    <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                    <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                  </v-card-text>  
                                </v-col>
                              </v-flex>
                              <v-flex xs6 >
                                <div class="text-lg-right pa-7" flat>
                                  <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                </div>
                                </v-flex>
                                
                            </v-row>
                            </v-card>
                        </v-hover>
                      </div>
                    </v-flex>

                        <div class="text-center pa-4">
                          <v-pagination v-model="page" :length="4" prev-icon="mdi-menu-left" next-icon="mdi-menu-right" ></v-pagination>
                        </div>

                        </v-tab-item>
                        <v-tab-item class="pa-6">
                          <v-flex xs12 md4></v-flex>
                            <div class="pt-5">
                              <v-hover v-slot:default="{ hover }" open-delay="200">
                                <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                  <v-row justify="around ">
                                    <v-flex xs6 >
                                    <v-col cols="8">
                                      <v-card-text >
                                        <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                        <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                      </v-card-text>  
                                    </v-col>
                                  </v-flex>
                                  <v-flex xs6 >
                                    <div class="text-lg-right pa-7" flat>
                                      <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                    </div>
                                    </v-flex>
                                    
                                </v-row>
                                </v-card>
                            </v-hover>
                          </div>
                        </v-flex>

                        <v-flex xs12 md4></v-flex>
                            <div class="pt-5">
                              <v-hover v-slot:default="{ hover }" open-delay="200">
                                <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                  <v-row justify="around ">
                                    <v-flex xs6 >
                                    <v-col cols="8">
                                      <v-card-text >
                                        <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                        <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                      </v-card-text>  
                                    </v-col>
                                  </v-flex>
                                  <v-flex xs6 >
                                    <div class="text-lg-right pa-7" flat>
                                      <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                    </div>
                                    </v-flex>
                                    
                                </v-row>
                                </v-card>
                            </v-hover>
                          </div>
                        </v-flex>


                        <v-flex xs12 md4></v-flex>
                        <div class="pt-5">
                          <v-hover v-slot:default="{ hover }" open-delay="200">
                            <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                              <v-row justify="around ">
                                <v-flex xs6 >
                                <v-col cols="8">
                                  <v-card-text >
                                    <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                    <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                  </v-card-text>  
                                </v-col>
                              </v-flex>
                              <v-flex xs6 >
                                <div class="text-lg-right pa-7" flat>
                                  <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                </div>
                                </v-flex>
                                
                            </v-row>
                            </v-card>
                        </v-hover>
                      </div>
                    </v-flex>


                    <v-flex xs12 md4></v-flex>
                    <div class="pt-5">
                      <v-hover v-slot:default="{ hover }" open-delay="200">
                        <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                          <v-row justify="around ">
                            <v-flex xs6 >
                            <v-col cols="8">
                              <v-card-text >
                                <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                <div class="text--primary">ราคา : 20000 บาท<br> </div>
                              </v-card-text>  
                            </v-col>
                          </v-flex>
                          <v-flex xs6 >
                            <div class="text-lg-right pa-7" flat>
                              <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                            </div>
                            </v-flex>
                            
                        </v-row>
                        </v-card>
                    </v-hover>
                  </div>
                </v-flex>

                          <v-flex xs12 md4></v-flex>
                          <div class="pt-5">
                            <v-hover v-slot:default="{ hover }" open-delay="200">
                              <v-card elevation="hover ? 16 : 2" class="mx-auto " max-width="90%" >
                                <v-row justify="around ">
                                  <v-flex xs6 >
                                  <v-col cols="8">
                                    <v-card-text >
                                      <h3 class="text--primary"> สินค้า : ควายเผือก </h3>
                                      <div class="text--primary">ราคา : 20000 บาท<br> </div>
                                    </v-card-text>  
                                  </v-col>
                                </v-flex>
                                <v-flex xs6 >
                                  <div class="text-lg-right pa-7" flat>
                                    <div class="text--primary" right>วันที่ประกาศ : 7/4/2020 <br> </div>
                                  </div>
                                  </v-flex>
                                  
                              </v-row>
                              </v-card>
                          </v-hover>
                        </div>
                      </v-flex>

                          <div class="text-center pa-4">
                            <v-pagination v-model="page" :length="4" prev-icon="mdi-menu-left" next-icon="mdi-menu-right" ></v-pagination>
                          </div>

                      </v-tab-item>

                                
                        </v-card>
                      </v-tabs>
                  </div>
                  </v-flex >
                  </div>
              </v-flex >
          </v-layout>
                      
      </div>

      </v-main>
    </v-app>
  </div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const reportDetail = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      tab: null,
      data () {
        return {
            page: 1,
            drawer: null,
            items1: [{
                    title: 'ข้อมูลส่วนตัว',
                },
                {
                    title: 'ออกจากระบบ',
                },
            ],
            item: 0,
            items: [{
                    text: "หน้าหลัก",
                    icon: "mdi-chart-bell-curve-cumulative",
                },
                {
                    text: "ดูประกาศ",
                    icon: "mdi-chart-bell-curve-cumulative",
                },
                {
                    text: "ข้อมูลส่วนตัว",
                    icon: "mdi-account",
                },
                {
                    icons: "",
                    text: "รายงานสถิติประกาศ",
                },
                {
                    icons: "",
                    text: "ออกจากระบบ",
                    icon: "mdi-logout",
                },
            ],

       
            
        
            txt: "Hello World",
            active: false
        };
    },
    methods:{

    }
    })
  </script>
    
   
</body>
</html>
<style>
  .width{
    height: 250px; 
    width: 90%;
  }
  .height{
    height: 250px; 
  }
</style>