<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div>
            <div>
                <v-navigation-drawer v-model="drawer" app clipped>
                  <v-list dense rounded>
                    <v-list-item two-line class="pt-2">
                      <v-list-item-avatar size="50">
                        <img src="https://obs.line-scdn.net/0hrkPrzXIkLURtCwPA439SE1ddLiteZz5HCT18RzFlc3BJb2gbU25gKk4KISYTP2oaAzlnIU4INnVHOz1CAW1g/w644">
                        </v-list-item-avatar>
              
                        <v-list-item-content>
                          <h5>นางสาวส้ม สีส้ม</h5>
                            <h6 color="grey">somsom@gmail.com</h6>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item-district v-model="item" color="purple darken-2"> 
                          <v-list-item v-for="(item, i) in items" :key="i" @click=>
                              <v-list-item-content>
                                  <v-list-item-title class="">{{ item.text }}</v-list-item-title>
                              </v-list-item-content>
                          </v-list-item>
                      </v-list-item-district>
      
                  </v-navigation-drawer>
                    <v-app-bar app clipped-left>
                      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                      </v-toolbar-title>
                      <v-text-field dense outlined hide-details prepend-inner-icon="mdi-magnify" label="ค้นหา" class="hidden-sm-and-down" >
      
                      </v-text-field>
                      <v-spacer></v-spacer>
                            <v-select dense outlined hide-details label="ประเภทการขาย" class="hidden-sm-and-down" >
                 
                  </v-app-bar>
              
              </div>

              <div class="pa-5">
              <v-flex xs12 pa-5>
                <v-container grid-list-xs>
                    <center>
                        <v-flex xs12 >
                            <h2>รายงานประกาศในปัจจุบัน</h2><br>
                            <v-divider></v-divider>
                        </v-flex>
                    </center><br>
                    <v-card class="mb-3 rounded-lg" >
                        <v-row wrap class="justify-center">
                            <v-flex xs8 md8 class="pa-5">
                                <div class="text-lg-right">
                                <v-text-field dense outlined hide-details prepend-inner-icon="mdi-magnify" label="ค้นหา" class="hidden-sm-and-down" >
                                </div>        
                            </v-flex>
                            <v-flex xs2 md2 class="pa-5">
                                <div class="text-lg-right">
                                <v-select class="rounded-lg" dense outlined hide-details label="เดือน" color="purple darken-1" type="text"></v-select>
                                </div>        
                            </v-flex>
                            <v-flex xs2 md2 class="pa-5">
                                <div class="text-lg-right">
                                <v-select class="rounded-lg"dense outlined hide-details label="วัน" color="purple darken-1" type="text"></v-select>
                                </div>        
                            </v-flex>
                        </v-row>
                        <v-row wrap class="justify-center">
                            <v-flex xs3>
                                <v-card class="mb-3 rounded-lg" >
                                    <div class="d-flex flex-no-wrap ">
                                        <div class="ma-3">
                                            <v-btn text color="info" fab dark>
                                                <v-icon> </v-icon>
                                            </v-btn>
                                        </div>
                                        <div>
                                            <v-card-title class="headline">1200 ประกาศ</v-card-title>
                                            <v-card-subtitle>จำนวนประกาศทั้งหมด</v-card-subtitle>
                                        </div>
                                    </div>
                                </v-card>
                            </v-flex>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <v-flex xs3>
                                <v-card class="mb-3 rounded-lg" >
                                    <div class="d-flex flex-no-wrap ">
                                        <div class="ma-3">
                                            <v-btn text color="info" fab dark>
                                                <v-icon> </v-icon>
                                            </v-btn>
                                        </div>
                                        <div>
                                            <v-card-title class="headline">600 ประกาศ</v-card-title>
                                            <v-card-subtitle>จำนวนประกาศขาย</v-card-subtitle>
                                        </div>
                                    </div>
                                </v-card>
                            </v-flex>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <v-flex xs3>
                                <v-card class="mb-3 rounded-lg" >
                                    <div class="d-flex flex-no-wrap ">
                                        <div class="ma-3">
                                            <v-btn text color="info" fab dark>
                                                <v-icon> </v-icon>
                                            </v-btn>
                                        </div>
                                        <div>
                                            <v-card-title class="headline">600 ประกาศ</v-card-title>
                                            <v-card-subtitle>จำนวนประกาศซื้อ</v-card-subtitle>
                                        </div>
                                    </div>
                                </v-card>
                            </v-flex>
                        </v-row>
                    </v-card>

                    <v-row wrap class="justify-center">
                    <v-flex xs12 pa-5>
                        <v-data-table dense :headers="headers" :items="desserts" :search="search" class="elevation-5 rounded-lg pa-2">
                            <template v-slot:top>
                                <v-container>
                                    <center>
                                        <v-flex xs12 >
                                            <h2>ข้อมูลประกาศ</h2><br>
                                            <v-divider></v-divider>
                                        </v-flex>
                                    </center><br>
                                </v-container>
                            </template>
                
                            <template v-slot:item.actions="{ item }">
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on">
                                            <v-icon>mdi-eye-outline</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>ดูข้อมูล</span>
                                </v-tooltip>
                
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" >
                                            <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>แก้ไข</span>
                                </v-tooltip>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" >
                                            <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>ลบ</span>
                                </v-tooltip>
                            </template>
                        </v-data-table>
                    </v-flex>
                    <v-flex xs4 >
                    <v-hover v-slot:default="{ hover }" open-delay="200" >
                        <v-card :elevation="hover ? 16 : 2" class="mx-auto " height="300" max-width="450">
                          <v-card-text class="font-weight-medium mt-12 text-center">
                            <h3>จำนวนประกาศทั้งหมด</h3>
                          </v-card-text>
                          <center>
                            <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                          </center>
                        </v-card>
                      </v-hover>
                    </v-flex>

                    <v-flex xs4  >
                        <v-hover v-slot:default="{ hover }" open-delay="200" >
                            <v-card :elevation="hover ? 16 : 2" class="mx-auto " height="300" max-width="450">
                              <v-card-text class="font-weight-medium mt-12 text-center">
                                <h3>จำนวนประกาศขาย</h3>
                              </v-card-text>
                              <center>
                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                              </center>
                            </v-card>
                        </v-hover>
                    </v-flex>

                    <v-flex xs4 >
                        <v-hover v-slot:default="{ hover }" open-delay="200" >
                            <v-card :elevation="hover ? 16 : 2" class="mx-auto " height="300" max-width="450">
                              <v-card-text class="font-weight-medium mt-12 text-center">
                                <h3>จำนวนประกาศซื้อ</h3>
                              </v-card-text>
                              <center>
                                <v-img class="rounded width" src="https://lh3.googleusercontent.com/YLUe4juF8FfLjcH5qaY5j4INs0PxZDeJVThQBm6GIbiTMFzkG7k3ax7LrOarIzJONQgv=w606-rwa" aspect-ratio="1.5"></v-img>
                              </center>
                            </v-card>
                        </v-hover>
                    </v-flex>

                        
                   
                </v-row>
                    
                    
            
                </v-container>
            </v-flex>
        </div>
            
        </div>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const reportPost = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
        data () {
        return {
            drawer: null,
            items1: [{
                    title: 'ข้อมูลส่วนตัว',
                },
                {
                    title: 'ออกจากระบบ',
                },
            ],
            item: 0,
            items: [{
                    text: "แดชบอร์ด",
                    icon: "mdi-chart-bell-curve-cumulative",
                },
                {
                    text: "ข้อมูลส่วนตัว",
                    icon: "mdi-chart-bell-curve-cumulative",
                },
                {
                    text: "จัดการข้อมูลผู้ใช้",
                    icon: "mdi-account",
                },
                {
                    icons: "จัดการผู้ดูแล",
                    text: "จัดการผู้ดูแล",
                },
                {
                    icons: "จัดการสถานที่",
                    text: "จัดการสถานที่",
                },
                {
                    icons: "จัดการประกาศ",
                    text: "จัดการประกาศ",
                },
                {
                    icons: "รายงาน",
                    text: "รายงาน",
                },
                {
                    icons: "",
                    text: "ออกจากระบบ",
                    icon: "mdi-logout",
                },
                
            ],
            txt: "Hello World",
            active: false,
            search: '',
            headers: [{
                text: 'ชื่อสินค้า',
                value: 'username',
                sortable: false,
            },
            {
                text: 'หมวดหมู่',
                value: 'name',
                sortable: false,
            },
            {
                text: 'ราคา',
                value: 'price',
                sortable: false,
            },
            {
                text: 'ประเภทประกาศ',
                value: 'place',
                sortable: false,
            },
            {
                text: 'จัดการ',
                value: 'district',
                sortable: false,
            },
        ],
        province: [{
                text: 'การขาย'
            },
            {
                text: 'รับซื้อ'
            },
        ],

        };
        
    },
        created() {
        this.initialize()
    },
    methods:{
        initialize() {
            this.desserts = [{
                    username: 'ควายเผือก',
                    name: '',
                    price: '20000',
                    place: 'การขาย',
                    district: '',
                },
                {
                    username: 'ควายไทย',
                    name: ' ',
                    price: '19000',
                    place: 'รับซื้อ',
                    district: '',
                },
                {
                    username: 'ควายเผือก',
                    name: '',
                    price: '18000',
                    place: 'การขาย',
                    district: '',
                },
                {
                    username: 'ควาย',
                    name: '',
                    price: '22000',
                    place: 'การขาย',
                    district: '',
                },
                {
                    username: 'ควายเผือก',
                    name: '',
                    price: '21000',
                    place: 'รับซื้อ',
                    district: '',
                },
            ]
        },
        editItem(item) {
            Swal.fire({
                title: 'คุณต้องการแก้ไข?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก',
            }).then((result) => {
                if (result.value) {
                    this.editedIndex = this.desserts.indexOf(item)
                    this.editedItem = Object.assign({}, item)
                    this.dialog = true
                }
            })
        },
        deleteItem(item) {
            Swal.fire({
                title: 'คุณต้องการลบใช่หรือไม่?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก',
            }).then((result) => {
                if (result.value) {
                    const index = this.desserts.indexOf(item)
                    this.desserts.splice(index, 1),
                        Swal.fire(
                            'คุณทำการลบสำเร็จ!',
                            '',
                            'success',
                        )
                }
            })
        },


    }
    })
  </script>
</body>
</html>