<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div>
            <div>
                <v-navigation-drawer v-model="drawer" app clipped>
                  <v-list dense rounded>
                    <v-list-item two-line class="pt-2">
                      <v-list-item-avatar size="50">
                        <img src="https://obs.line-scdn.net/0hrkPrzXIkLURtCwPA439SE1ddLiteZz5HCT18RzFlc3BJb2gbU25gKk4KISYTP2oaAzlnIU4INnVHOz1CAW1g/w644">
                        </v-list-item-avatar>
              
                        <v-list-item-content>
                          <h5>นางสาวส้ม สีส้ม</h5>
                            <h6 color="grey">somsom@gmail.com</h6>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item-district v-model="item" color="purple darken-2"> 
                          <v-list-item v-for="(item, i) in items" :key="i" @click=>
                              <v-list-item-content>
                                  <v-list-item-title class="">{{ item.text }}</v-list-item-title>
                              </v-list-item-content>
                          </v-list-item>
                      </v-list-item-district>
      
                  </v-navigation-drawer>
                    <v-app-bar app clipped-left>
                      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
                        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                      </v-toolbar-title>
                      <v-text-field dense outlined hide-details prepend-inner-icon="mdi-magnify" label="ค้นหา" class="hidden-sm-and-down" >
      
                      </v-text-field>
                      <v-spacer></v-spacer>
                            <v-select dense outlined hide-details label="ประเภทการขาย" class="hidden-sm-and-down" >
                 
                  </v-app-bar>
              
              </div>

              <div>
                <v-layout row wrap>
                  <v-flex xs6 md6 >
                    <div class="pa-5">
                      <v-card class="mx-auto" max-width="350" >
                        <v-card-title>รายงานจำนวนผู้ใช้ปัจจุบัน</v-card-title>
                        <v-spacer></v-spacer>
                        <v-card-actions>
                          <v-btn color="purple darken-1" text>แสดงรายละเอียด</v-btn>
                        </v-card-actions>
                      </v-card>
                    </div>
                  </v-flex>
      
                  <v-flex xs6 md6 >
                    <div class="pa-5">
                      <v-card class="mx-auto" max-width="350" >
                        <v-card-title>รายงานประกาศในปัจจุบัน</v-card-title>
                        <v-spacer></v-spacer>
                        <v-card-actions>
                          <v-btn color="purple darken-1" text>แสดงรายละเอียด</v-btn>
                        </v-card-actions>
                      </v-card>
                    </div>
                  </v-flex>
      
                  <v-flex xs6 md6 >
                    <div class="pa-5">
                      <v-card class="mx-auto" max-width="350" >
                        <v-card-title>รายงานสถานที่</v-card-title>
                        <v-spacer></v-spacer>
                        <v-card-actions>
                          <v-btn color="purple darken-1" text>แสดงรายละเอียด</v-btn>
                        </v-card-actions>
                      </v-card>
                    </div>
                  </v-flex>
      
                  <v-flex xs6 md6 >
                    <div class="pa-5">
                      <v-card class="mx-auto" max-width="350" >
                        <v-card-title>รายงานสถิติการประกาศการซื้อขาย</v-card-title>
                        <v-spacer></v-spacer>
                        <v-card-actions>
                          <v-btn color="purple darken-1" text>แสดงรายละเอียด</v-btn>
                        </v-card-actions>
                      </v-card>
                    </div>
                  </v-flex>
      
                </v-layout>
            </div>
          
            
        </div>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    const report = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
        return {
            drawer: null,
            items1: [{
                    title: 'ข้อมูลส่วนตัว',
                },
                {
                    title: 'ออกจากระบบ',
                },
            ],
            item: 0,
            items: [{
                    text: "แดชบอร์ด",
                    icon: "mdi-chart-bell-curve-cumulative",
                },
                {
                    text: "ข้อมูลส่วนตัว",
                    icon: "mdi-chart-bell-curve-cumulative",
                },
                {
                    text: "จัดการข้อมูลผู้ใช้",
                    icon: "mdi-account",
                },
                {
                    icons: "จัดการผู้ดูแล",
                    text: "จัดการผู้ดูแล",
                },
                {
                    icons: "จัดการสถานที่",
                    text: "จัดการสถานที่",
                },
                {
                    icons: "จัดการประกาศ",
                    text: "จัดการประกาศ",
                },
                {
                    icons: "รายงาน",
                    text: "รายงาน",
                },
                {
                    icons: "",
                    text: "ออกจากระบบ",
                    icon: "mdi-logout",
                },
                
            ],
            txt: "Hello World",
            active: false,
        };
        
    },
    methods:{

    }
    })
  </script>
</body>
</html>